
{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
    <div class="col-sm-6">
     <div class="card">
  <img class="card-img-top" src="{{destination.pretty_picture.url}}" />
  <a class="card-text"  href="{% url 'destination-detail' destination.id %}">
    <p class="card-title"  >{{destination.name}}</p>
    <p>{{destination.activities}}</p>
     
  </a>
   </div>
 </div>
  {% endfor %}
</div>

{% endblock content %}
 